/* Box Model Hack */
* {
  box-sizing: border-box;
}
html {
  size: 10px;
  
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  color: #33A5A5;
  background-color: #333333;

}
body > * {
  /* border: thin solid red; */
}




/******************************************
/* LAYOUT
/*******************************************/
header {

}

.charImgContainer{
  
  text-align: center;
  
}
.abilities{
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.abilities li {
  background-color: #C1C1C1;
  line-height: 1.5 rem;
  text-align: center;
  border: thin solid black;
  flex-basis: 15%;
}
.trait{
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.messageContainer{
  text-align: center;
  line-height: 2.25rem;
}
.delete-button{
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: white;
}
.trait{
  border: thin solid black;
}
#errorMessage{
  size: 1.5rem;
  color: white;
}
li{
  list-style-type: none;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/


