/* Box Model Hack */
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
  /* Variables
  /*******************************************/
$base-color: #33a5a5;
$alt-bg-color: #333333;
$base-bg-color: rgba(34, 35, 37, 1);
$alt-bg-color2: #414141;

/******************************************
  /* BASE STYLES
  /*******************************************/

body {
  color: $base-color;
  background-color: $base-bg-color;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

/******************************************
  /* LAYOUT
  /*******************************************/
.header {
  background: $base-bg-color;
  padding: 1em 0;
  text-align: center;
}
.footer {
  flex-shrink: 0;
  flex-basis: 2rem;
}

.flex {
  display: flex;
}
.flexDirectionColumn {
  flex-direction: column;
}
.flexJustifyCenter {
  justify-content: center;
}
.flexAlignItemsCenter {
  align-items: center;
}
.flexSpaceBetween {
  justify-content: space-between;
}
.flexSpaceAround {
  justify-content: space-around;
}
.flexStart {
  justify-content: start;
}
.flexEnd {
  justify-content: end;
}
.flexDirectionRow {
  flex-direction: row;
}
.flexBasis100 {
  flex-basis: 100%;
}
.flexBasis75 {
  flex-basis: 75%;
}
.flexBasis50 {
  flex-basis: 50%;
}
.flexBasis25 {
  flex-basis: 25%;
}
.flexGrow0 {
  flex-grow: 0;
}
.txtSize2 {
  font-size: 2rem;
}
.svg{
  z-index: 0;
  width: 50px;
  height: 50px;
}
.logo{
  z-index: 2;
}
.nav {
  width: 100%;
  font-size: 2rem;
}
.navList {
  padding: 0;
  margin: 0;
}
.navItem {
  list-style-type: none;
  padding: 0.25em;
}
.navLink, .logOutBtn {
  
  text-decoration: none;
  color: $base-color;
  text-transform: uppercase;
}
.navLink:hover, .navLink:focus, .logOutBtn:hover, .logOutBtn:focus{
  opacity: 0.75;
}
.navToggle{
  cursor: pointer;
  border: 0;
  width: 4em;
  height: 4em;
  padding: 0em;
  border-radius: 50%;
  background: #072a2d;
  color: white;
  transition: opacity 250ms ease;

  position: absolute;
  left: 0;
  top: 5px;
}
.navToggle:focus,
.navToggle:hover {
  opacity: 0.75;
}
.hamburger {
  width: 50%;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  display: block;
  margin: 0 auto;
  height: 3px;
  background: white;
}

.hamburger::before,
.hamburger::after {
  content: "";
  width: 100%;
}

.hamburger::before {
  transform: translateY(-6px);
}

.hamburger::after {
  transform: translateY(3px);
}
nav {
  visibility: hidden;
  height: 0;
  position: absolute;
}

.navVisible {
  visibility: visible;
  height: auto;
  position: relative;
}

.container {
  width: 80%;
  max-width: 1100px;
  // max-width: 80vw;
  margin: 0 auto;
  position: relative;
}
.centeredForm {
  text-align: right;
  margin: 5% 0;
}
.charImgContainer {
  text-align: center;
}
.authContainer {
  width: 350px;
  margin: 10vh auto;
}
.authContainerHeading {
  text-align: center;
  font-size: 2.5rem;
}
.authContainerLabel {
  display: inline-block;
  font-size: 2rem;
  line-height: 3rem;
}
.authContainerInput {
  min-width: 100%;
  margin: 1em auto;
  display: block;
  line-height: 3rem;
}
.authRibbon {
  line-height: 3rem;
  font-size: 2rem;
  text-align: center;
}
.authRedirect {
  text-align: center;
  display: block;
  font-size: 2rem;
  line-height: 3rem;
  max-width: 25%;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  border: thin solid $base-color;
  background-color: $base-color;
}
.authRedirect:hover {
  opacity: 50%;
}
.baseBGColor {
  background-color: $base-bg-color;
}
.altBGColor {
  background-color: $alt-bg-color;
}
.altBGColor2 {
  background-color: $alt-bg-color2;
}
.textArea {
  width: 100%;
}
.content {
  flex: 1 0 auto;
}
.mainOutlineColor {
  outline: thin solid $base-color;
}
.borderNone {
  border: none;
}
.abilities {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.abilities li {
  background-color: #c1c1c1;
  line-height: 1.5 rem;
  text-align: center;
  border: thin solid black;
  flex-basis: 15%;
}
.trait {
  max-width: 1100px;
  list-style-type: none;
  font-size: 1.5rem;
  line-height: 2.25rem;
}
.traits {
  padding-left: 0;
  min-width: 80vw;
}
.messageContainer {
  text-align: center;
  line-height: 2.25rem;
}
.accent-button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: $base-color;
}
.trait {
  border: thin solid black;
}
#errorMessage {
  size: 1.5rem;
  color: white;
}
@media (min-width: 900px){
  .navToggle {
    display: none;
  }

  .nav {
    visibility: visible;
    display: flex;
    height: auto;
    margin: auto;
    align-items: center;
    justify-content: center
  }
  .navList{
    margin: 0;
    display: flex;
  }
  .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
input:focus:invalid {
  border: red solid 3px;
}

#source {
  font-size: 0.75rem;
  opacity: 50%;
}
#flex-vert-list {
  display: flex;
}
