<footer class="footer clearfix flex flxDirCol flxJusCen txtSize2">
    <nav>
        <ul class="nav">
            <li><a class="navLink" href="/">Home</a></li>
            <li><a class="navLink" href="/character">Characters</a></li>
            <li><a class="navLink" href="/abilities">Abilities</a></li>
            <li><a class="navLink" href="/register">Register</a></li>
            <li><a class="navLink" href="/login">Login</a></li>

            <form action="/logout?_method=DELETE" method="POST">
                <button type="submit">Log Out</button>
            </form>
        </ul>

    </nav>
</footer>