<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tabletop Character Builder</title>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
    <!-- CSS Normalize -->
    <!-- <link rel="stylesheet" href="/css/normalize.css"> -->
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <!-- external style sheets -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
        integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- custom -->
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="grey darken-3">



    <header class="header black">
        <nav class="nav black">
            <div class="nav-wrapper container">
                <a class="brand-logo center" href="/">
                    <i class="fa-solid fa-dice-d20 teal-text text-accent-4" style="float: none"></i>

                    <!-- <img class="svg" src="/img/logoedit.svg" alt="tabletop role playing game builder logo"> -->
                </a>
                <a href="#" class="sidenav-trigger" data-target="slide-out">
                    <i class="fa-sharp fa-solid fa-bars teal-text text-accent-4"></i>
                </a>


                <ul class="left hide-on-med-and-down">
                    <li class="col s12"><a class="teal-text text-accent-4" href="/">Home</a></li>
                    <li class="col s12"><a class="teal-text text-accent-4" href="/character">Characters</a></li>
                    <li class="col s12"><a class="teal-text text-accent-4" href="/traits">Abilities</a></li>
                </ul>
                <ul class="right hide-on-med-and-down">
                    <li class="col s12"><a class="teal-text text-accent-4" href="/auth/register">Register</a></li>
                    <li class="col s12"><a class="teal-text text-accent-4" href="/auth/login">Login</a></li>
                    <!-- <% // if (locals.session) { %> -->
                    <li class="col s12"><a class="teal-text text-accent-4" href="/auth/logout">Logout</a></li>
                    <% // } %>

                </ul>

                <ul class="sidenav grey darken-3" id="slide-out">
                    <li class="col s12"><a class="teal-text text-accent-4" href="/">Home</a></li>
                    <li class="col s12"><a class="teal-text text-accent-4" href="/character">Characters</a></li>
                    <li class="col s12"><a class="teal-text text-accent-4" href="/traits">Abilities</a></li>
                    <li class="col s12"><a class="teal-text text-accent-4" href="/auth/register">Register</a></li>
                    <li class="col s12"><a class="teal-text text-accent-4" href="/auth/login">Login</a></li>
                    <%if (locals.session) { %>
                        <li class="col s12"><a class="teal-text text-accent-4" href="/auth/logout">Logout</a></li>
                        <% } %>
                </ul>
            </div>
        </nav>

    </header>
    <main>