<header class="header">

    <section class="container">
        <button class="navToggle" aria-label="open navigation">
            <span class="hamburger"></span>
        </button>
        <a href="/" class="logo">
            <img class="svg" src="/img/logoedit.svg" alt="">
        </a>
        <nav class="nav">
            <ul class="navList navList--primary">
                <li class="navItem"><a class="navLink" href="/">Home</a></li>
                <li class="navItem"><a class="navLink" href="/character">Characters</a></li>
                <li class="navItem"><a class="navLink" href="/traits">Abilities</a></li>
            </ul>

            <ul class="navList navList--secondary">
                <li class="navItem"><a class="navLink" href="/auth/register">Register</a></li>
                <li class="navItem"><a class="navLink" href="/auth/login">Login</a></li>
                <li class="navItem">
                    <form action="/logout?_method=DELETE" method="POST">
                        <button class="accent-button " type="submit">Logout</button>
                    </form>
                </li>
            </ul>

        </nav>
    </section>
    </nav>
</header>