<header class="header black">

    <section class="container row">
        <button class="navToggle" aria-label="open navigation">
            <span class="hamburger"></span>
        </button>
        <a class="logo" href="/">
            <img class="svg" src="/img/logoedit.svg" alt="tabletop role playing game builder logo">
        </a>
        <nav class="nav black">
            <ul class="navList navList--primary">
                <li class="navItem"><a class="navLink" href="/">Home</a></li>
                <li class="navItem"><a class="navLink" href="/character">Characters</a></li>
                <li class="navItem"><a class="navLink" href="/traits">Abilities</a></li>
            </ul>

            <ul class="navList navList--secondary">
                <li class="navItem"><a class="navLink" href="/auth/register">Register</a></li>
                <li class="navItem"><a class="navLink" href="/auth/login">Login</a></li>
                <li class="navItem">
                    <form action="/logout?_method=DELETE" method="POST">
                        <button class="accent-button logOutBtn" type="submit">Logout</button>
                    </form>
                </li>
            </ul>

        </nav>
    </section>
    </nav>
    <script src="/js/navbar.js" defer></script>
</header>