<%- include('partials/header') %>

    <div class="container white-text">
        <form action="/traits/addTrait" method="POST" id="newAbility">

            <div class="row">
                <div class="col s12">
                    <h2>Enter New Trait</h2>
                    <fieldset>
                        <legend>Description</legend>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input type="text" name="traitName" id="traitName" required />
                                <label for="traitName">Trait Name</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <select form="newAbility" name="traitType" id="traitType">
                                    <option value="" selected></option>
                                    <!-- <option value="Consumable">Consumable</option> -->
                                    <option value="Equipment">Equipment</option>
                                    <option value="Feat">Feat</option>
                                    <!-- <option value="Loot">Loot</option> -->
                                    <option value="Weapon">Weapon</option>
                                </select>
                                <label for="traitType">Trait Type (Required)</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input type="text" name="sourceCreature" id="sourceCreature" />
                                <!-- pattern="[a-zA-Z]+ \([0-9]+\)" /> -->
                                <label for="sourceCreature">Source Creature</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input type="text" name="sourceBook" id="sourceBook" />
                                <!-- pattern="[a-zA-Z]+ \([0-9]+\)" /> -->
                                <label for="sourceBook">Source Book</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 white-text input-field">
                                <textarea class="materialize-textarea" name="traitDescription" id="traitDescription"
                                    data-length="120"></textarea>
                                <label for="traitDescription">Trait Description</label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <fieldset>
                        <legend>Feature Usage</legend>
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <input type="text" name="activation" id="activation" />
                                <!-- pattern="[a-zA-Z]+ \([0-9]+\)" /> -->
                                <label for="activation">Activation Cost</label>
                            </div>
                            <div class="input-field col s12 m6 offset-m2">
                                <select form="newAbility" name="activationType" id="activationType">
                                    <option value="" selected></option>
                                    <option value="Action">Action</option>
                                    <option value="Bonus Action">Bonus Action</option>
                                    <option value="Crew Action">Crew Action</option>
                                    <option value="Minutes">Minutes</option>
                                    <option value="Hours">Hours</option>
                                    <option value="Days">Days</option>
                                    <option value="Lair Action">Lair Action</option>
                                    <option value="Legendary Action">Legendary Action</option>
                                    <option value="Weapon">None</option>
                                    <option value="Reaction">Reaction</option>
                                    <option value="Special">Special</option>
                                </select>
                                <label for="activationType"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 white-text input-field">
                                <textarea class="materialize-textarea" name="activationCondition"
                                    id="activationCondition" data-length="120"></textarea>
                                <label for="activationCondition">Activation Condition</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <input type="text" name="targetValue" id="targetValue" />
                                <!-- pattern="[a-zA-Z]+ \([0-9]+\)" /> -->
                                <label for="targetValue">Target Value</label>
                            </div>
                            <div class="input-field col s12 m4">
                                <select form="newAbility" name="targetUnits" id="targetUnits">
                                    <option value="" selected></option>
                                    <option value="None">None</option>
                                    <option value="Self">Self</option>
                                    <option value="Touch">Touch</option>
                                    <option value="Special">Special</option>
                                    <option value="Any">Any</option>
                                    <option value="Feet">Feet</option>
                                    <option value="Miles">Miles</option>
                                    <option value="Meters">Meters</option>
                                    <option value="Kilometers">Kilometers</option>
                                </select>
                                <label for="targetUnits"></label>
                            </div>
                            <div class="input-field col s12 m4">
                                <select form="newAbility" name="targetType" id="targetType">
                                    <option value="" selected></option>
                                    <option value="Ally">Ally</option>
                                    <option value="Cone">Cone</option>
                                    <option value="Creature">Creature</option>
                                    <option value="Cube">Cube</option>
                                    <option value="Cylinder">Cylinder</option>
                                    <option value="Enemy">Enemy</option>
                                    <option value="Line">Line</option>
                                    <option value="None">None</option>
                                    <option value="Object">Object</option>
                                    <option value="Radius">Radius</option>
                                    <option value="Self">Self</option>
                                    <option value="Space">Space</option>
                                    <option value="Sphere">Sphere</option>
                                    <option value="Square">Square</option>
                                    <option value="Wall">Wall</option>
                                </select>
                                <label for="targetType"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <input type="text" name="rangeNormal" id="rangeNormal" />
                                <!-- pattern="[a-zA-Z]+ \([0-9]+\)" /> -->
                                <label for="rangeNormal">Range (Normal)</label>
                            </div>
                            <div class="input-field col s12 m4">
                                <input type="text" name="rangeMax" id="rangeMax" />
                                <!-- pattern="[a-zA-Z]+ \([0-9]+\)" /> -->
                                <label for="rangeMax">Range (Max)</label>
                            </div>
                            <div class="input-field col s12 m4">
                                <select form="newAbility" name="rangeUnits" id="rangeUnits">
                                    <option value="" selected></option>
                                    <option value="None">None</option>
                                    <option value="Self">Self</option>
                                    <option value="Touch">Touch</option>
                                    <option value="Special">Special</option>
                                    <option value="Any">Any</option>
                                    <option value="Feet">Feet</option>
                                    <option value="Miles">Miles</option>
                                    <option value="Meters">Meters</option>
                                    <option value="Kilometers">Kilometers</option>
                                </select>
                                <label for="rangeUnits"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <input type="text" name="durationValue" id="durationValue" />
                                <!-- pattern="[a-zA-Z]+ \([0-9]+\)" /> -->
                                <label for="durationValue">Duration</label>
                            </div>
                            <div class="input-field col s12 m4 offset-m4">
                                <select form="newAbility" name="durationUnits" id="durationUnits">
                                    <option value="" selected></option>
                                    <option value="Instantaneous">Instantaneous</option>
                                    <option value="Rounds">Rounds</option>
                                    <option value="Minutes">Minutes</option>
                                    <option value="Hours">Hours</option>
                                    <option value="Days">Days</option>
                                    <option value="Months">Months</option>
                                    <option value="Years">Years</option>
                                    <option value="Permanent">Permanent</option>
                                    <option value="Special">Special</option>
                                </select>
                                <label for="durationUnits"></label>
                            </div>

                        </div>
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <input type="text" name="limitedUsesValue" id="limitedUsesValue" />
                                <!-- pattern="[a-zA-Z]+ \([0-9]+\)" /> -->
                                <label for="limitedUsesValue">Limited Uses (Remaining)</label>
                            </div>
                            <div class="input-field col s12 m4">
                                <input type="text" name="limitedUsesMax" id="limitedUsesMax" />
                                <!-- pattern="[a-zA-Z]+ \([0-9]+\)" /> -->
                                <label for="limitedUsesMax">Limited Uses (Max)</label>
                            </div>
                            <div class="input-field col s12 m4">
                                <select form="newAbility" name="limitedUsesPer" id="limitedUsesPer">
                                    <option value="" selected></option>
                                    <option value="Short Rest">Short Rest</option>
                                    <option value="Long Rest">Long Rest</option>
                                    <option value="Day">Day</option>
                                </select>
                                <label for="rangelimitedUsesPerUnits"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <select form="newAbility" name="consumeType" id="consumeType">
                                    <option value="" selected></option>
                                    <option value="Ammunition">Ammunition</option>
                                    <option value="Attribute">Attribute</option>
                                    <option value="Hit Dice">Hit Dice</option>
                                    <option value="Item Uses">Item Uses</option>
                                    <option value="Material">Material</option>
                                </select>
                                <label for="consumeType">Resource Consumption</label>
                            </div>
                            <!-- <div class="input-field col s12 m4">
                                <input type="text" name="consumeTarget" id="consumeTarget" />
                                <label for="consumeTarget">Type</label>
                            </div> -->
                            <div class="input-field col s12 m4">
                                <input type="text" name="consumeAmount" id="consumeAmount" />
                                <!-- pattern="[a-zA-Z]+ \([0-9]+\)" /> -->
                                <label for="consumeAmount">Quantity</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <input type="text" name="actionRecharge" id="actionRecharge" disabled />
                                <label for="actionRecharge">Action Recharge</label>
                            </div>
                            <div class="input-field col s12 m4">
                                <input type="text" name="actionRechargeValue" id="actionRechargeValue" />
                                <label for="actionRechargeValue">Recharge On</label>
                            </div>
                            <div class="input-field col s12 m2">
                                <p>
                                    <label for="actionRechargeIsCharged">
                                        <input type="checkbox" id="actionRechargeIsCharged" class="filled-in"
                                            name="actionRechargeIsCharged" value="true" />
                                        <span>Charged</span>
                                    </label>
                                </p>
                            </div>
                        </div>

                </div>
                </fieldset>
            </div>

            <div class="row">
                <div class="col s12">
                    <fieldset>
                        <legend>Feature Attack</legend>
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <input type="text" name="actionTypeLabel" id="actionTypeLabel" disabled />
                                <label for="actionTypeLabel">Action Type</label>
                            </div>
                            <div class="input-field col s12 m6 offset-m2">
                                <select form="newAbility" name="actionType" id="actionType">
                                    <option value="" selected></option>
                                    <option value="Melee Weapon Attack">Melee Weapon Attack</option>
                                    <option value="Ranged Weapon Attack">Ranged Weapon Attack</option>
                                    <option value="Melee Spell Attack">Melee Spell Attack</option>
                                    <option value="Ranged Spell Attack">Ranged Spell Attack</option>
                                    <option value="Saving Throw">Saving Throw</option>
                                    <option value="Healing">Healing</option>
                                    <option value="Ability Check">Ability Check</option>
                                    <option value="Other">Other</option>
                                    <option value="Legendary Action">Other</option>
                                </select>
                                <label for="actionType"></label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <input type="text" name="abilityModifierLabel" id="abilityModifierLabel" disabled />
                                <label for="abilityModifierLabel">Ability Modifer</label>
                            </div>
                            <div class="input-field col s12 m6 offset-m2">
                                <select form="newAbility" name="abilityModifier" id="abilityModifier">
                                    <option value="Default" selected>Default</option>
                                    <option value="Strength">Strength</option>
                                    <option value="Dexterity">Dexterity</option>
                                    <option value="Constitution">Constitution</option>
                                    <option value="Intelligence">Intelligence</option>
                                    <option value="Wisdom">Wisdom</option>
                                    <option value="Charisma">Charisma</option>
                                </select>
                                <label for="abilityModifier"></label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m6">
                                <input type="text" name="damageTypeLabel" id="damageTypeLabel" />
                                <label for="damageTypeLabel">Damage Formula</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <select form="newAbility" name="damageType" id="damageType">
                                    <option value="None">None</option>
                                    <option value="Acid">Acid</option>
                                    <option value="Bludgeoning">Bludgeoning</option>
                                    <option value="Cold">Cold</option>
                                    <option value="Fire">Fire</option>
                                    <option value="Force">Force</option>
                                    <option value="Lightning">Lightning</option>
                                    <option value="Necrotic">Necrotic</option>
                                    <option value="Piercing">Piercing</option>
                                    <option value="Poison">Poison</option>
                                    <option value="Psychic">Psychic</option>
                                    <option value="Radiant">Radiant</option>
                                    <option value="Slashing">Slashing</option>
                                    <option value="Thunder">Thunder</option>
                                </select>
                                <label for="damageType">Choose a damage type:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m4">
                                <input type="text" name="versatileDamageLabel" id="versatileDamageLabel" disabled />
                                <label for="versatileDamageLabel">Versatile Damage</label>
                            </div>
                            <div class="input-field col s12 offset-m2 m6">
                                <input type="text" name="versatileDamage" id="versatileDamage" />
                                <label for="versatileDamage">Versatile Damage</label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="input-field col s12 m3">
                                <input type="text" name="saveLabel" id="saveLabel" disabled />
                                <label for="saveLabel">Saving Throw</label>
                            </div>
                            <div class="input-field col s12 m3">
                                <select form="newAbility" name="saveAbility" id="saveAbility">
                                    <option value="" selected></option>
                                    <option value="Strength">Strength</option>
                                    <option value="Dexterity">Dexterity</option>
                                    <option value="Constitution">Constitution</option>
                                    <option value="Intelligence">Intelligence</option>
                                    <option value="Wisdom">Wisdom</option>
                                    <option value="Charisma">Charisma</option>
                                </select>
                                <label for="saveAbility"></label>
                            </div>
                            <div class="input-field col s12 m3">
                                <input type="text" name="saveDC" id="saveDC" />
                                <label for="saveDC">vs DC</label>
                            </div>
                            <div class="input-field col s12 m3">
                                <select form="newAbility" name="saveScaling" id="saveScaling">
                                    <option value="Spellcasting" selected>Spellcasting</option>
                                    <option value="Strength">Strength</option>
                                    <option value="Dexterity">Dexterity</option>
                                    <option value="Constitution">Constitution</option>
                                    <option value="Intelligence">Intelligence</option>
                                    <option value="Wisdom">Wisdom</option>
                                    <option value="Charisma">Charisma</option>
                                    <option value="Flat">Flat</option>
                                </select>
                                <label for="saveScaling"></label>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
            <div class="row">
                <div class="col s12">
                    <fieldset>
                        <legend>Category</legend>
                        <div class="row">
                            <div class="col s12 m3">
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in" id="tagDamage" />
                                        <span>Damage</span>
                                    </label for="tagDamage">
                                </p>
                            </div>
                            <div class="col s12 m3">
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in" id="tagBuff" />
                                        <span>Buff</span>
                                    </label for="tagDamage">
                                </p>
                            </div>
                            <div class="col s12 m3">
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in" id="tagDebuff" />
                                        <span>Debuff</span>
                                    </label for="tagDebuff">
                                </p>
                            </div>
                            <div class="col s12 m3">
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in" id="tagMovement" />
                                        <span>Movement</span>
                                    </label for="tagMovement">
                                </p>
                            </div>
                            <div class="col s12 m3">
                                <p>
                                    <label>
                                        <input type="checkbox" class="filled-in" id="tagConditions" />
                                        <span>Condition</span>
                                    </label for="tagConditions">
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12">
                                <button class="btn waves-effect waves-light" type="submit" name="newAbility"><i
                                        class="fa-solid fa-check"></i>Add new
                                    trait</button>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </form>
        </section>
    </div>

    <!-- <div class="row">
            <form action="/traits/addTestTrait" method="POST">
                <h2>Add random trait!</h2>
                <p>
                    Add a trait for testing.
                </p>
                <button class="btn" type="submit" id="random-trait-button">Add Trait</button>
            </form>
        </div> -->

    </div>
    <%- include('partials/footer') %>