<%- include('partials/header') %>
    <!-- <h1>Hi <%= // name %> -->
    <div class="container row">
        <div class="col s12">
            <h1>Tabletop Character Utilities</h1>

            <h4>What is this?</h4>
            <p>Tabletop Character Utilities is a project for Dungeon Masters to be able to store monster abilities in an
                easy to use format.</p>
            <h4>Upcoming Features</h4>
            <p>Damage details on traits.</p>
            <p>Export to JSON.</p>
            <p>Export to CSV</p>
            <p>Searchable/Filterable Traits</p>
        </div>

    </div>

    <%- include('partials/footer') %>