<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body class="altBGColor">
    <%- include('partials/navbar') %>
        <section class="authContainer altBGColor">
            <section class="container">
                <form action="/register" method="POST">
                    <h1 class="authContainerHeading">Sign up</h1>

                    <label for="name">
                        <label class="authContainerLabel" for="name">
                            Username
                        </label>
                        <input class="authContainerInput" type="text" name="name" id="name" placeholder="your username"
                            required>
                    </label>
                    <label for="email">
                        <label class="authContainerLabel" for="email">Email</label>
                        <input class="authContainerInput" type="email" name="email" id="email"
                            placeholder="your@email.com" required>
                    </label>

                    <label for="password">
                        <label class="authContainerLabel" for="password">Password</label>
                        <input class="authContainerInput" type="password" name="password" id="password"
                            placeholder="your password here" required>
                    </label>

                    <button class="authContainerInput" type="submit">COMPLETE REGISTRATION</button>

                </form>
            </section>
            <section class="container">
                <p class="authRibbon">Already have an account?</p>
                <a href="/auth/login" class="authRedirect">Login</a>
            </section>
        </section>

</body>

</html>