<%- include('partials/header') %>

    <section class="authContainer container row">
            <div class="container center-align red-text">
                <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el=> { %>
                        <div class="alert alert-danger">
                            <%= el.msg %>
                        </div>
                        <% }) %>
                            <% } %>
                                <% if (locals.messages.info) { %>
                                    <% messages.info.forEach( el=> { %>
                                        <div class="alert alert-info">
                                            <%= el.msg %>
                                        </div>
                                        <% }) %>
                                            <% } %>
            </div>
            <form action="/auth/register" method="POST" class="col s12">
                <h1 class="white-text authContainerHeading">Register</h1>
                <div class="input-field">
                    <input class="authContainerInput" type="text" name="userName" id="userName" required />
                    <label class="" for="userName">Username</label>
                </div>
                <div class="input-field">
                    <input class="authContainerInput" type="email" name="email" id="email" required />
                    <label class="" for="email">Email </label>
                </div>
                <div class="input-field">
                    <input class="authContainerInput" type="password" name="password" id="password" required />
                    <label class="" for="password">Password</label>
                </div>
                <div class="input-field">
                    <input type="password" id="confirmPassword" name="confirmPassword">
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                </div>

                <button class="authContainerInput btn" type="submit">COMPLETE REGISTRATION</button>
            </form>

    <%- include('partials/footer') %>