/* Box Model Hack */
* {
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clear {
  clear: both; }

/******************************************
  /* Variables
  /*******************************************/
/******************************************
  /* BASE STYLES
  /*******************************************/
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; }

/******************************************
  /* LAYOUT
  /*******************************************/
.txtSize2 {
  font-size: 2rem; }

.svg {
  z-index: 0;
  width: 50px;
  height: 50px; }

.logo {
  z-index: 2; }

.charImgContainer {
  text-align: center; }

.authContainer {
  width: 350px;
  margin: 5vh auto; }

.authContainerHeading {
  text-align: center;
  font-size: 3rem; }

.input-field {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* label color */
.input-field label {
  color: white; }

/* label focus color */
.input-field input[type="text"]:focus + label {
  color: white; }

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: white; }

.authContainerInput {
  min-width: 100%;
  margin: 1em auto;
  display: block;
  line-height: 3rem; }

.authRibbon {
  line-height: 3rem;
  font-size: 2rem;
  text-align: center; }

.authRedirect {
  text-align: center;
  display: block;
  font-size: 2rem;
  line-height: 3rem;
  max-width: 25%;
  margin: 0 auto;
  text-decoration: none;
  color: white;
  border: thin solid #33a5a5;
  background-color: #33a5a5; }

.authRedirect:hover {
  opacity: 50%; }

.baseBGColor {
  background-color: #222325; }

.altBGColor {
  background-color: #333333; }

.altBGColor2 {
  outline: thin solid black; }

.textArea {
  width: 100%; }

.content {
  flex: 1 0 auto; }

.mainOutlineColor {
  outline: thin solid #33a5a5; }

.borderNone {
  border: none; }

.abilities {
  display: flex;
  list-style: none;
  justify-content: space-around; }

.abilities li {
  background-color: #c1c1c1;
  line-height: 1.5 rem;
  text-align: center;
  border: thin solid black;
  flex-basis: 15%; }

.messageContainer {
  text-align: center;
  line-height: 2.25rem; }

.accent-button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: #33a5a5; }

#errorMessage {
  size: 1.5rem;
  color: white; }

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
#source {
  font-size: 0.75rem;
  opacity: 50%; }
