/* Box Model Hack */
* {
  box-sizing: border-box; }

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clear {
  clear: both; }

/******************************************
  /* Variables
  /*******************************************/
/******************************************
  /* BASE STYLES
  /*******************************************/
/******************************************
  /* LAYOUT
  /*******************************************/
.charImgContainer {
  text-align: center; }

.input-field {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem; }

/* label color */
.input-field label {
  color: white; }

/* label focus color */
.input-field input[type="text"]:focus + label {
  color: white; }

/* label underline focus color */
.input-field input[type="text"]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

/* valid color */
.input-field input[type="text"].valid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

/* invalid color */
.input-field input[type="text"].invalid {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 white; }

input[type="text"]:not(.browser-default):disabled + label {
  color: white; }

input[type="text"]:not(.browser-default):disabled {
  border-bottom: 1px solid #9e9e9e; }

/* icon prefix focus color */
.input-field .prefix.active {
  color: white; }

.collapsible-header {
  background-color: #474747; }

.responsive-table-y {
  overflow-y: auto; }

nav ul a:hover {
  background-color: #474747; }

input {
  color: white; }

textarea {
  color: white; }

.authContainer {
  width: 350px;
  margin: 5vh auto; }

.authContainerHeading {
  text-align: center; }

.authContainerInput {
  min-width: 100%; }

.authRibbon {
  line-height: 3rem;
  font-size: 2rem; }

.authRedirect {
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  text-decoration: none;
  border: thin solid #33a5a5;
  background-color: #33a5a5; }

.authRedirect:hover {
  opacity: 90%; }

table.highlight > tbody > tr:hover {
  background-color: #333333 !important;
  opacity: 0.75; }

.messageContainer {
  text-align: center;
  line-height: 2.25rem; }

.accent-button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: #33a5a5; }

.btn {
  cursor: pointer; }

#errorMessage {
  size: 1.5rem;
  color: white; }

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
