/* Box Model Hack */
* {
  box-sizing: border-box; }

html {
  font-size: 20px; }

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

.clear {
  clear: both; }

/******************************************
  /* Variables
  /*******************************************/
/******************************************
  /* BASE STYLES
  /*******************************************/
body {
  color: #33A5A5;
  background-color: #333333; }

body > * {
  /* border: thin solid red; */ }

/******************************************
  /* LAYOUT
  /*******************************************/
.header {
  outline: thin solid #33A5A5;
  overflow: hidden; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; }

.nav > li {
  display: inline-block;
  list-style-type: none; }

.navLink {
  text-decoration: none;
  color: #33A5A5; }

.centeredForm {
  text-align: right;
  margin: 5% 0; }

.charImgContainer {
  text-align: center; }

.centeredContainer {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-basis: 25%; }

.abilities {
  display: flex;
  list-style: none;
  justify-content: space-around; }

.abilities li {
  background-color: #C1C1C1;
  line-height: 1.5 rem;
  text-align: center;
  border: thin solid black;
  flex-basis: 15%; }

.trait {
  font-size: 1.5rem;
  line-height: 2.25rem; }

.messageContainer {
  text-align: center;
  line-height: 2.25rem; }

.delete-button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: none;
  outline: none;
  color: white; }

.trait {
  border: thin solid black; }

#errorMessage {
  size: 1.5rem;
  color: white; }

/******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
input:focus:invalid {
  border: red solid 3px; }

#source {
  font-size: 0.75rem;
  opacity: 50%; }

#flex-vert-list {
  display: flex; }
